@page "/verification-success"

<div class="text-center mt-5">
    <h2>Vérification réussie</h2>
    <p>
        Merci d'avoir vérifié votre email. Votre compte est maintenant activé !
    </p>
    <p>
        <a href="/connexion" class="btn btn-primary">Se connecter</a>   
    </p>
</div>

