@page "/forgotPassword"
@using ColApp.Services  
@inject PasswordResetService PasswordResetService

<h3>Réinitialisation de mot de passe</h3>

<EditForm Model="@emailModel" OnValidSubmit="HandleForgotPassword">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="email">Email</label>
        <InputText id="email" class="form-control" @bind-Value="emailModel.Email" />
    </div>

    <button type="submit" class="btn btn-primary">Envoyer le lien de réinitialisation</button>
</EditForm>

@code {
    private ForgotPasswordModel emailModel = new ForgotPasswordModel();
    private string message;

    private async Task HandleForgotPassword()
    {
        try
        {
            await PasswordResetService.SendPasswordResetLinkAsync(emailModel.Email);
            message = "Un lien de réinitialisation a été envoyé à votre email.";
        }
        catch (Exception ex)
        {
            message = $"Erreur : {ex.Message}";
        }
    }

    public class ForgotPasswordModel
    {
        public string Email{ get; set; }
    }
}
